<section id="by-zip" class="home-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="section-heading text-center">
                    <div>
                        <h2>Seattle 9-1-1 Calls</h2>
                    </div>
                    <p>Emergency 9-1-1 calls reported in Seattle</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8" style="min-width:700px">
                <h3 class="text-center">Top 5 Calls zip codes from <span class='blue'>{{startDate | date: 'MM/dd/yyyy'}}</span> to <span class='blue'>{{endDate | date: 'MM/dd/yyyy'}}</span></h3>
                <div [ngBusy]="busy"></div>
                <div id="chart" style="position: relative; height:400px; width:700px">
                    <canvas baseChart id="baseChart" #baseChart width="700" height="400" [datasets]="barChartData" [labels]="barChartLabels"
                        [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" [colors]="barChartColors"
                        (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                </div>
            </div>
            <div class="col-md-4" style="margin-bottom: 10px" id="date-filters">
                <dateRangeQuickButtons (onDateRangeQuickButtonClick)="onDateRangeQuickButtonClick($event)"></dateRangeQuickButtons>
                <dateRangeForm (onDateRangeFormSubmit)="onDateRangeFormSubmit($event)"> </dateRangeForm>
            </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-md-8">
                <h3 class="text-center">Calls breakdown by zip code from <span class='blue'>{{startDate | date: 'MM/dd/yyyy'}}</span> to <span class='blue'>{{endDate | date: 'MM/dd/yyyy'}}</span></h3>
                <div [ngBusy]="busy"></div>
                <div class="columns">
                    <ul *ngFor="let record of rawData">
                        <li *ngIf="record[1]; then thenBlock else elseBlock"></li>
                            <ng-template #thenBlock><a href="" [routerLink]="['/by-zip', record[1]]">{{record[1]}} ({{record[0]}})</a></ng-template>
                            <ng-template #elseBlock><a href="" [routerLink]="['/by-zip', '0']">No ZIP ({{record[0]}})</a></ng-template>
                    </ul>
                </div>
            </div>
            <div class="col-md-4" style="margin-bottom: 10px">

            </div>
        </div>
    </div>
</section>