<section id="home" class="home-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="section-heading text-center">
                    <div>
                        <h2>Seattle 9-1-1 Calls</h2>
                    </div>
                    <p>Emergency 9-1-1 calls reported in Seattle</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8" style="min-width:700px">
                <h3 style="margin-right:25px; text-align: right;"><a href="" [routerLink]="['/hourly', 'by-zip', zip]">See hourly breakdown &raquo;</a></h3>
                <h3 class="text-center">Calls for zip code "{{zip}}" from <span class='blue'>{{startDate | date: 'MM/dd/yyyy'}}</span> to <span class='blue'>{{endDate | date: 'MM/dd/yyyy'}}</span></h3>
                <div [ngBusy]="busy"></div>
                <div id="chart" style="position: relative; height:400px; width:700px">
                    <canvas baseChart id="baseChart" #baseChart width="700" height="400" [datasets]="lineChartData" [labels]="lineChartLabels"
                        [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"
                        (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
            </div>
            <div class="col-md-4" style="margin-bottom: 10px">
                <dateRangeQuickButtons (onDateRangeQuickButtonClick)="onDateRangeQuickButtonClick($event)"></dateRangeQuickButtons>
                <dateRangeForm (onDateRangeFormSubmit)="onDateRangeFormSubmit($event)"> </dateRangeForm>
            </div>

        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-md-8">
                <h3 class="text-center">Calls breakdown by Type for zip code "{{zip}}" from <span class='blue'>{{startDate | date: 'MM/dd/yyyy'}}</span> to <span class='blue'>{{endDate | date: 'MM/dd/yyyy'}}</span></h3>
                <div [ngBusy]="busy"></div>
                <div id="pieChartContainer" style="position: relative; height:400px; width:700px">
                    <canvas baseChart id="pieChart" #pieChart width="700" height="400" [data]="pieChartData" [labels]="pieChartLabels" [options]="pieChartOptions"
                        [colors]="pieChartColors" [chartType]="pieChartType" (chartHover)="chartPieHovered($event)" (chartClick)="chartPieClicked($event)">>
                    </canvas>
                </div>
            </div>
            <div class="col-md-4" style="margin-bottom: 10px">

            </div>
        </div>
    </div>
</section>