<section id="home" class="home-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="section-heading text-center">
          <div>
            <h2>Seattle 911 Calls</h2>
          </div>
          <p>Reported Seattle 911 Calls for past {{days}} days</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-8" style="min-width:700px">
        <h3 class="text-center">Calls per day</h3>
        <div id="chart" style="position: relative; height:400px; width:700px">
          <canvas baseChart id="baseChart" #baseChart width="700" height="400" [datasets]="lineChartData" [labels]="lineChartLabels"
            [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"
            (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
          </canvas>
        </div>
      </div>
      <div class="col-md-4" style="margin-bottom: 10px;min-width:250px;">
        <dateRangeQuickButtons (onDateRangeQuickButtonClick)="onDateRangeQuickButtonClick($event)"></dateRangeQuickButtons>
        <dateRangeForm (onDateRangeFormSubmit)="onDateRangeFormSubmit($event)"> </dateRangeForm>
      </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
      <div class="col-md-8">
        <h3 class="text-center">Breakdown by type</h3>
        <div id="pieChartContainer" style="position: relative; height:400px; width:700px">
          <canvas baseChart id="pieChart" #pieChart width="700" height="400" [data]="pieChartData" [labels]="pieChartLabels" [options]="pieChartOptions"
            [colors]="pieChartColors" [chartType]="pieChartType" (chartHover)="chartPieHovered($event)" (chartClick)="chartPieClicked($event)">>
          </canvas>
        </div>
      </div>
      <div class="col-md-4" style="margin-bottom: 10px">

      </div>
    </div>
  </div>
</section>