<section id="by-type" class="home-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="section-heading text-center">
                    <div>
                        <h2>Seattle 9-1-1 Calls</h2>
                    </div>
                    <p>Emergency 9-1-1 calls reported in Seattle</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        
        <div class="row">
            <div class="col-md-8">
                <h3 class="text-center">Your Profile</h3>
                <div [ngBusy]="busyData"></div>
                <div class="columns">
                    

                    <ul>
                        <li *ngFor="let record of rawData"><a href="" [routerLink]="['/by-type', record[1]]">{{record[1]}} ({{record[0]}})</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4" style="margin-bottom: 10px">

            </div>
        </div>
    </div>
</section>