<!-- Navigation -->
<div id="navigation">
  <nav class="navbar navbar-custom" role="navigation">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
        <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
              <i class="fa fa-bars">Toggle</i>
            </button>
          </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="menu">
            <ul class="nav navbar-nav">
              <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"><a href="#home" [routerLink]="['/']">Home</a></li>
              <li [routerLinkActive]="['active']" ><a href="#by-type" [routerLink]="['/by-type']">By Type</a></li>
              <li [routerLinkActive]="['active']" ><a href="#by-zip" [routerLink]="['/by-zip']">By Zip</a></li>
              <!--
              <li [routerLinkActive]="['active']"><a href="#by-type" [routerLink]="['/by-type', 1234]">By Type 123</a></li>
              <li><a href="#about" [routerLink]="['/about']">About</a></li> -->
            </ul>
          </div>
        <!-- /.Navbar-collapse -->
        </div>
      </div>
    </div>
    <!-- /.container -->
  </nav>
</div> 
<!-- /Navigation -->  

<router-outlet></router-outlet>
